
<nav class="navbar">
  <div class="nav-wrapper">
      <img class="brand-img" src="../../assets/ins.png">
      <input class="search-box" type="text" placeholder="search">
      <div class="image">
       <img class="chat" src="../../assets/house-door-fill.svg">
      <img class="chat" src="../../assets/chat-text.svg">
      <img class="chat" src="../../assets/plus-square-fill.svg">
      <img class="chat" src="../../assets/compass.svg">
      <img  class="chat" src="../../assets/heart.svg">
      <img class="chat user" src="../../assets/profile.png">
    </div>
    


  </div>
</nav>
<!-- <div class="container">
  <div class="first">content1
    
  </div>
  <div class="second">
    <div class="card" style="width: 100%; height: 20vh;">
      <div class="main">
      <img class="view" src="../../assets/view.jpg" >
    
    </div>
    </div>
    <div class="card " style="width: 100%; height: 30vh;">
     
    </div>
    <div class="card" style="width: 100%;">
  
    </div>
  </div>
  <div class="third">content3
    <div class="card" style="width: 18rem;">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
<section class="main">
  <div class="wrapper">
  <div class="left-col">
    <div class="status-wrapper">
         <div class="status-card">
           <div class="profile">
             <img src="../../assets/view.jpg">
     
           </div>
           <p class="username">Kartik</p>

         </div>
         <div class="status-card">
          <div class="profile">
            <img src="../../assets/view.jpg">
    
          </div>
          <p class="username">Shubham</p>

        </div>
        <div class="status-card">
          <div class="profile">
            <img src="../../assets/view.jpg">
    
          </div>
          <p class="username">Rohan</p>

        </div>
        <div class="status-card">
          <div class="profile">
            <img src="../../assets/view.jpg">
    
          </div>
          <p class="username">Suren</p>

        </div>
        <div class="status-card">
          <div class="profile">
            <img src="../../assets/view.jpg">
    
          </div>
          <p class="username">Amish</p>

        </div>
        <div class="status-card">
          <div class="profile">
            <img src="../../assets/view.jpg">
    
          </div>
          <p class="username">Kamal</p>

        </div>
        <div class="status-card">
          <div class="profile">
            <img src="../../assets/view.jpg">
    
          </div>
          <p class="username">Kamal</p>

        </div>
        <div class="status-card">
          <div class="profile">
            <img src="../../assets/view.jpg">
    
          </div>
          <p class="username">Kamal</p>

        </div>
    </div>
    <div class="feeds">
     <div class="info">
  <div class="user">
    <div class="profile">
     <img src="../../assets/view.jpg">
    </div>
    <p class="newuser">UserName</p>

  </div>
     </div>
     <img src="../../assets/viewing.png" class="feed-image">
     <div class="feed-content">
       <p class="likes">2012,Likes</p>
       <p class="description"><span>Username</span>Image description: a detailed explanation of an image that provides textual access to visual content; most often used for digital graphics online and in digital files; can be used as alt text in coding to provide access to more complete information.</p>
       <p class="feed-time">1 minutes ago</p>
     </div>
    </div>
  </div>
  <div class="right-col">
      <div class="tag">
        <h1>this is our right side part </h1>
        <h1>this is our right side part </h1>
        <h1>this is our right side part </h1>
        <h1>this is our right side part </h1>
        <h1>this is our right side part </h1>
        <h1>this is our right side part </h1>
        <h1>this is our right side part </h1>
        <h1>this is our right side part </h1>
        <h1>this is our right side part </h1>
      </div>
  </div>
  </div>

</section>
