* {
  
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: #FAFAFA;
}
$primary_1: #739FF6;
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .image-div{
        width: 50%;
        height: 650px;
        margin-top: 5%;
        left: 30%;
        background-size: contain;
        display: flex;
        justify-content: end;
        margin-left: 20%;
        
        .img{
            height: 100%;
            min-width: 60%;
        }
    }

    .form {
        width: 90%;
        margin-top: 7%;
        margin-left: 5%;
        flex-direction: column;
        
   
    }
}

.card{
    width: 100%;
    height: 420px;
    padding: 30px;
}


@media  (max-width:1010px) {
    .container{
        display: block;
        align-items: center;
 
        // align-items: center;
        // justify-content: center;
    }
    .image-div{
        max-width: 0;
        display: none;
        overflow-x: hidden;
        max-height: 0;
    }
   
    .form{
     
        grid-template-columns: 1fr 2fr 1fr;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        // justify-content: center;
    }
    // .image-div{
    //     height: 100px;
    //     width: auto;
    // }
    .app{
   
        height: auto;
        // width: 100%;
         height: 50px;
      
    }
    .nexttag {
      display: flex;
      justify-content: center;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;

 }
   
}


@media (max-width:500px){
 .card{
    border: 0px;

 }
 .para{
     text-align: center;
 }
}
.card-title{
   margin-left: 15%;
}
._2hvTZ {
    background: #fafafa;
    background: rgba(var(--b3f,250,250,250),1);
    border: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    margin-top: 10%;
    margin-left: 3%;
    width: 100%;
    font-size: 12px;
}
.btn{
    width: 100%;
    height: 30px;
    margin-left: 2%;
    font-weight: 500;
   
    
}
.facebook{
    color: $primary_1;
    text-align: center;
    padding: 15px;
    display:flex;
    align-items: center;
   
   

}

.line{
    border-top: 1px solid lightgrey;
    text-align: center;
    
    width: 45%;
    
    
}

.Or{
    top: -5%;
    width: 20%;
    text-align: center;
    color: lightgrey;
   
}

.maindiv{
    display: flex;
    position: relative;
    align-items: baseline;
}


.card1{
    height: 80px;
    
}
.nexttag{
    
   
    display: flex;
}
.app{
   
    height: auto;

     height: 50px;
}

.j{
    margin-left: 1px;
}
.sign{
    color: $primary_1;
    font-weight: bold;
}

