<div class="container">
    <div class="image-div">
      <img class="img" src="../assets/phoneimage.png" />
    </div>
    <div class="form">
   
      <div class="card" style="width: 21rem">
        <div class="card-body">
          <h5 class="card-title"><img src="../assets/insta.png" /></h5>
          <input
            placeholder="Phone number, username ,or email"
            aria-required="true"
            autocapitalize="off"
            autocorrect="off"
            maxlength="75"
            name="username"
            type="text"
            class="_2hvTZ pexuQ zyHYP"
            value=""
          />
          <input
            placeholder="Password"
            aria-required="true"
            autocapitalize="off"
            autocorrect="off"
            maxlength="75"
            name="username"
            type="text"
            class="_2hvTZ pexuQ zyHYP"
            value=""
          />
          <br />
          <br />
          <button disabled class="btn btn-primary">Log In</button>
          <br />
          <br />
          <div class="maindiv">
            <div class="line"></div>
            <span class="Or">OR</span>
            <div class="line"></div>
            <!-- <hr width="50%" > <hr width="50%" style="margin-left: 60%;"> -->
          </div>
          <div>
            <div class="facebook">
              <img
                style="margin-left: 10%"
                src="../assets/facebook.png"
                width="10%"
              />
              <h6 style="margin-left: 4%">Login With Facebook</h6>
            </div>
            <p style="text-align: center; padding: 5px">Forgot Password?</p>
          </div>
        </div>
      </div>
  
      <div class="card card1 mt-3" style="width: 21rem">
        <div class="card-body">
          <p>
            Don't have an any account? <span class="sign">SignUp</span>
          </p>
        </div>
      </div>
     <p style="margin-left: 18% ; " class=" para mt-3">Get The APP</p>
      <div class="col-md-12 nexttag">
        <img class="app"
          src="../assets/appstore.png"
         
          style="background-size: cover"
        />
        <img class="app j" src="../assets/google.png"  />
      </div>
  
      
    </div>
   
  </div>
  
  